:root {
    --bg-color: #26282a;
    --text-color: #eee;
    --accent-color: #978198;
    --card-bg: #ab582e;
}

header {
    position: sticky;
    background-color: var(--bg-color);
    top: 0;
    padding: 5px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center;
}

nav a {
    color: #978198;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color 0.3s;
    position: left;
}

nav a:hover {
    color: #4a90e2;
}

body.light-mode {  /* mode clair styles */
    --bg-color: #f0f0f0;
    --text-color: #333;
    --accent-color: #4a90e2;
    --card-bg: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 2px solid var(--text-color);
    border-radius: 10px var(--text-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.3s ease;  
}

#themeToggle:hover {
    transform: scale(1.1);
}


h1  {
    text-align: center;
    font-size:  48px;
    margin-top: 15px;
    margin-bottom: auto;
}

h2  {
    text-align: center;
    font-size:  36px;
}

.zone-input {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#cvInput, #jobInput {
    color: var(--text-color);
    background-color: #320834;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
   
}

#analyzeButton {
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    padding: 10px 20px;
}

#analyzeButton:hover {
   transform: translateY(-2px);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.zone-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

p {
    font-style: italic;
}

.score-bar {
    width: 80%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.score-fill {
    height: 20px;
    background-color: green;
    width: 0;
    transition: width 1s ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: var(--accent-color);
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

li:hover {
    transform: translateX(5px);
}

h3 {
    margin-top: 30px;
    color: var(--accent-color);
}